p{
    color:red;
    background-color: skyblue;
}
#abc{
    color: yellow;
    background-color: red;
}
.xyz{
    color: green;
    background-color: grey;
}
.mno{
    color: purple;
    background-color: yellow;
}